---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never

AccessModifierOffset: -4
IndentAccessModifiers: false
NamespaceIndentation: All

DerivePointerAlignment: false
PointerAlignment: Left

SpacesInAngles: Never

AlignAfterOpenBracket: Align
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: false

# What goes on a separate line?
MaxEmptyLinesToKeep: 1
AlwaysBreakTemplateDeclarations: Yes

AllowAllArgumentsOnNextLine: true
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
PenaltyReturnTypeOnItsOwnLine: 50
BinPackParameters: false

AttributeMacros: ['JNIEXPORT', 'JNICALL']
BreakBeforeBinaryOperators: All
BreakConstructorInitializers: AfterColon
EmptyLineAfterAccessModifier: Leave
# SeparateDefinitionBlocks: Leave <-- since v14

KeepEmptyLinesAtTheStartOfBlocks: false

SortUsingDeclarations: true
IncludeBlocks: Regroup

FixNamespaceComments: false
...
